section.bots-sec.new-bots
  .container
    .bots-sec__main
      .bots-sec__header
        h2.bots-sec__title New bots and updates
      .bots-sec__grid
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html
        include bot-item.html