section.bots-sec.games
  .container
    .bots-sec__main
      .bots-sec__header
        h2.bots-sec__title Games
        a.btn.btn_red(href="#") More
      .bots-sec__wrap
        .bots-sec__row
          include bot-item.html
          include bot-item.html
          include bot-item.html
          include bot-item.html
          include bot-item.html
          include bot-item.html