.breadcrumbs{
  margin: 24px 0;
  font-size: 12px;
  line-height: 14px;
  a{
    color: $clr-red;
    &:hover{text-decoration: underline;}
  }
  @media only screen and (max-width : 767px){
    margin: 10px 0 24px;
  }
}