.green-message{
  margin: 48px 0;
  background-color: $clr-bg-green;
  border: 1px solid $clr-brd-green;
  color: $clr-txt-green;
  position: relative;
  padding: 24px 50px 24px 24px;
  font-size: 14px;
  line-height: 16px;
  border-radius: 4px;
  &__close{
    width: 12px;
    height: 12px;
    top: 14px;
    right: 14px;
    position: absolute;
    z-index: 2;
    background: url(../img/svg/close-green.svg) center center no-repeat;
  }
}